
main #title h2{
    margin-bottom: 40px;
}
section{
    flex-direction: column;
}
main #title{
    margin-bottom: auto;
}

.items{
    width: 30%;
    margin-bottom: 20px;
    margin-right: 5%;
}
.items:last-child{
    margin-right: 0%;
}
.items a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: unset;
    
    color: #2a5a61;
}
.items h3{
    font-weight: bold;
    font-size: 1.2rem;
}
.items a:hover{
    color: #298492;
    text-decoration:underline;
}
.items .pt{
    margin-bottom: 10px;
}

/* cake */
#cake,#cookie,#candy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cake{
    display: flex;
}
#cake .title,#cookie .title,#candy .title{
    color: #815093;
    margin-bottom: 30px;
    font-size: 1.4rem;
    
}
#candy .items{
    margin-right: auto;
}