main #title h2{
    padding-top: 0;
}
section{
    display: block;
}
main #title{
    margin-bottom: auto;
}

section{
    margin-bottom: 30px;
    border-top: solid 1px #c09dc394;
}
#items{
    border-top: unset;
}

h2{
    font-size: 1.6rem;    
    color: #815093;
    margin-bottom: 20px;
    padding-top: 15px;
}

/* title */
#title{
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
}
.list ul{
    display: flex;
}
.list li{
    list-style: none;
    position: relative;
}
.list button{
    background-color: unset;
    border: unset;
    color: #2a5a61;
    font-weight: bold;
    font-size: 1.3rem;
}
.list div button{
    margin-left: 0;
}

.list button:hover{
    color: #6daeb8;
    cursor: pointer;
    position: relative;
}
.list li:nth-child(2) .cake-btn:hover::after,.list li:nth-child(3) .cookie-btn:hover::after{
    content: "▼";
    position: absolute;
    font-weight:lighter;
    top: 20px;
    left: 40%;
    font-size: 10px;
}
.list li::after{
    content: "/";
    color: #2a5a61;
    font-weight:bolder;
}
.list li div button::before{
    content: "/";
    color: #2a5a61;
    margin-right: 20px;
    margin-left: 20px;
}

.list li div button:first-child::before{
    content: unset;
}
.list li div{
    z-index: 999;
    padding: 10px;
    display: none;
    width: 400%;
    position: absolute;
    top: 20px;
    text-align: center;
   
/* display: flex;
flex-direction: column; */
} 
.list li:nth-child(3) div{
    left: -50px;
} 
@media only screen and (max-width:767px) {
    .list button{
        margin-left: 10px;
    }
    .list li::after{
        margin-left: 10px;
    }
    .list li div {
        left: -35px;
    }
}
@media only screen and (max-width:500px) {
    main #title{
        margin-bottom: 35px;
    }
    .list{
        flex-direction: column;
    }
    .list button{
        margin-left: 5px;
    }
    .list li::after{
        margin-left: 5px;
    }
    .list li div button::before{
        margin-right: 5px;
        margin-left: 5px;
    }
    .list li:nth-child(3) div{
        left: -95px;
    } 
    .list li div{
        width: 385%;
    }
    
}
@media only screen and (min-width:768px) {
    .list button{
        margin-left: 20px;
    }
    .list li::after{
        margin-left: 20px;
    }
    .list li div {
        left: -20px;
    }
}
@media only screen and (min-width:992px) {
}
.search{
    display: flex;
    align-items: center;
    width: 2.6%;
}
.search:hover img{
   transform: scale(1.2);
}
@media only screen and (max-width:500px) {
    .search{
        width: 7%;
        margin-top: 15px;
        position: relative;
        z-index: 1000;
    }
}

/* items */
.items{
    box-shadow: 1px 1px 5px 1px #aaaaaa7d;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,.4);
    flex-grow: 1;
}
.items a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: unset;
    color: #2a5a61;
}
.items h3{
    font-weight: bold;
    font-size: 1.2rem;
}
.items a:hover{
    color: #298492;
}
.items .pt{
    margin-bottom: 10px;
}
.items .pt img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.items .context{
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #815093;
    padding: 5px 20px 5px;
}
.items p{
    margin: auto 20px;
    font-size: 1.1rem;
    color: #505a93;
}
.items .context div{
    display: flex;
    align-items: center;
}
.items .context span{
    margin-left: auto;
    font-size: 1.3rem;
}
.items .context button{
    background-color: unset;
    border: unset;
    border-bottom: solid 2px #93506c;
    color: #93506c;
    font-size: 1.2rem;
}
.items .context button:hover{
    border-bottom: double 2px #df7ea6;
    color: #df7ea6;
    cursor:cell;
}

/* 商品說明 */
#explanation ul,#rating ul{
    list-style: none;
    color: #815093;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap:10px;
}

#explanation ul{
    list-style: inside;
}


#explanation li,#rating li{
    margin-left: 33px;
}

#explanation span,#rating span{
    margin-left: 37px;
}

/* rating */
#rating ul{
    gap:20px;
}

#rating li{
    position: relative;
    padding-bottom: 12px;
    margin-right: 33px;
}

#rating li::after{
    content: "";
    position: absolute;
    border-bottom: solid 1px #815093a6;
    width: 100%;
    bottom: 0;
    left: 0;
}
#rating li:last-child::after{
    border-bottom: none;
    content: "";
}

/* 乳酪蛋糕 */
#items{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
#items .items_pt{
    width: 40%;
    margin: auto 5% ;
}

#items .pt_else{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
#items .pt_else button{
    border: none;
}

#items .pt_else button:hover{
    cursor: pointer;
}

#items .items_context{
    flex-grow: 1;
    color: #815093;
}

#items .items_context form{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:767px) {
    h2{
        margin-left: 5px;
    }
    button.btn_img {
        width: 33.3333%;
    }
}
@media only screen and (max-width:500px) {
    #items{
        width: 85%;
        flex-direction: column;
        margin-top: -30px;
        align-items: flex-start;
    }
    #items .items_pt{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .pt_main {
        margin-right: 10px;
        width: 1000%;
    }
    #items .pt_else {
        width: 200%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #items .items_context {
        margin-left: 10px;
    }
    button.btn_img {
        width: auto;
    }
}
@media only screen and (min-width:768px) {
    h2{
        margin-left: 5px;
    }
    button.btn_img {
        width: 33.3333%;
    }
}
@media only screen and (min-width:992px) {
}

form span{
    font-size: 1.5rem;
}
.format,.taste{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.format div,.taste div{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.format span,.taste span,.number span{
    width: 10%;
    font-size: 1rem;
    font-weight: 500;
}
.format div input[type="radio"] + label,.taste div input[type="radio"]+ label{
    width: 25%;
    text-align: center;
    border-radius: 3px;
    padding: 1em;
    line-height: 1;
    background-color: #f9f9f9c9;
    color: black;
    cursor: pointer;
}
.format div input[type="radio"]:checked + label,
.taste div input[type="radio"]:checked + label{
    background-color: #e86573d6;
    color: #fff;
    
}
input[type="radio" i]{
    appearance: none;
}
form .items_cart{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
form button{
    font-size: 1.3em;
    color: #93506c;
    background-color: unset;
    border: #93506c 1px solid;
    width: 50%;
    padding: 10px;
    margin: auto auto;
    margin-right: 0;
    border-radius: 3px;
}
form button:hover{
    cursor: pointer;
}
form .car:hover{
    color: #df7ea6;
    border: #df7ea6 1px solid;
    text-decoration: underline;
}

.items_cart div{
    width: 40%;
    display: flex;
    font-size: 1.3rem;
}
.items_cart div button{
    width: 25%;
}

.items_cart div input{
    width: 60%;
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
}

.number{
    display: flex;
    align-items: center;
}

.number_button{
    display: flex;
    margin-left: 10px;
}
input#count {
    width: 100%;
    border: none;
    background-color: #f9f9f9e6;
}
.number_button button{
    font-size: 1.5rem;
    padding: 5px;
}
#minus{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#plus{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}