@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@font-face {
  font-family: '內海-0.38';
  src: url('../font/setofont.ttf');
}
@font-face {
    font-family: 'jf';
    src: url('../font/jf-openhuninn-1.1.ttf');
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0dbca;
    font-family: Arial, Helvetica,'Sue Ellen Francisco','Comic Sans MS','黑體-繁','Heiti TC','微軟正黑體','Microsoft JhengHei','內海-0.38', sans-serif;
}

img{
    display: block;
    width: 100%;/* image 會繼承父元素的寬度 */
}

/* Header */
header{
    display: flex;
    position: relative;
    background: linear-gradient(180deg, rgba(185,163,123,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 0px 8px 0px #8b252dba;
}
.logo{
    margin: 10px auto 5px;
}

/* menu */
.menu{
    margin-bottom: 5px;
}
.menu nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu li,.hamburger li{
    font-weight: bold;
    list-style: none;
}

.menu a, .hamburger a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #a57b36;
}
.menu a:hover{
    color: #e4b05d;
    border-top:2px solid #e4b05d;
    border-bottom:2px solid #e4b05d;

}

/* hamburger */
.btnHB{
    position: relative;
}
#btnHamburger{
    width: 50px;
    height: 50px;
    margin: 13px 10px;    
    position: relative;
    z-index: 1;
    border: none;    
    background-color: unset;
}
.btnHB span{
    width: 32px;
    height: 2.66666666px;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: top .5s, bottom .5s, opacity .5s, transform .2s .5s;
}
.btnHB span:nth-child(2){
    transform:rotate(0deg);
    top: 23px;
}
.btnHB span:last-child{
    transform:rotate(0deg);
    bottom: 23px;
}
.btnHB span:nth-child(3){
    top: 0;
    bottom: 0;
    opacity: 1;
}
.menuHB{
    position: absolute;
    left: -150px;
    top: 100%;
    z-index: 999;
    width: 130px;
    height: 100vh;
    padding-left: 6px;
    background-color: #f1f1f5f5;
}
.menuHB li{
    margin: 25px auto;
}
.menuHB li:first-child{
    margin-top: 10px;
}
.hamburger .open {
	left: 0px;
	transition: left 1s;
}
.hamburger .close {
	left: -120px;
	transition: right 1s;
}
/* else */
header .else{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
}
header .top,header .cart {
    margin-bottom: 10px;
}
header .else button{
    border: none;
    background-color: #ffffffbf;
}
header .else button:hover{
    cursor: pointer;
}

@media only screen and (max-width:767px) {
    header{
        flex-direction: row-reverse;
        position: relative;
        align-items: center;
    }
    .logo{
        width: 15%;
        margin-left: calc((100% - 15%) / 2 - 70px);
    }
    .menu{
        display: none;
    }
}
@media only screen and (min-width:768px) {
    header{
        flex-direction: column;
        position: relative;
    }
    .logo{
        width: 6%;
    }
    .menu{
        display: block;
    }
    .hamburger{
        display: none;
    }
}
@media only screen and (min-width:992px) {

}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0,0,0,0.6563667703409488) 0%, rgba(131,131,131,1) 100%);
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}
.sm{
    margin: 20px auto;
    display: flex;
    gap: 20px;
}

/* main */
main{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(237,207,209,0.7) 0%, rgba(255,226,229,0.7) 25%, rgba(246,228,246,0.7) 50%, rgba(255,236,243,0.7) 75%, rgba(226,154,171,0.7) 100%);
}
main #title h2{
    margin: 30px 0% 20px;
    color: #815093;
    position: relative;
    font-size: 1.7rem;
}
main #title h2::after{
    content: "";
    width: 20%;
    border-bottom: 2px solid #815093;
    color: #815093;
    position: absolute;
    top: 33px;
    left: 16px;
}
section{
    display: flex;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}
main #title{
    width: 960px;
    margin: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width:767px){
    main #title{
        width: 90%;
    }
    main #title h2::after{
        width: 50%;
    }
    section{
        width: 96%;
    }
}
@media only screen and (min-width:768px) {
    main #title{
        width: 90%;
    }
    main #title h2::after{
        width: 30%;
    }
    section{
        width: 96%;
    }
}
@media only screen and (min-width:992px) {
    main #title{
        width: 960px;
    }
    main #title h2::after{
        width: 20%;
    }
    section{
        width: 960px;
    }
}

/* @media only screen and (max-width:767px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:992px) {

} */